/* Navbar */
.navbar {
  padding: 5px;
  text-align: center;
  background: rgb(240, 240, 240);
  color: black;
  display: block;
}
 
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.btn-logout {
  width: 100px;
  padding: 10px;
  font-size: 20px;
  border-radius: 5px;
  border: none;
  background-color: #bba38c;
  cursor: pointer;
}
